.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.upperContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftContainer{
  border-style: solid;
  border: 1px;
}
.rightContainer{
  border-style: solid;
  border: 1px;
}